h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}

.picture{
    height : 300px;
    width: auto;
}

.resultParas{
    position: absolute;
    top: 600px;
}
#pokemon-left{
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    left: 150px;
    top: 180px;
    width: 240px;
    height: 240px ;
    transition: 0.3s;
    opacity: 0.9;
}
#pokemon-right{
    display: inline-block;
    border: 1px solid #ddd;
    margin: auto;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    left : 760px;
    top: 180px;
    width: 240px;
    height: 240px;
    transition: 0.3s;
    opacity: 0.9;
}
#pokemon-right:hover{
    box-shadow: 0 0 8px 2px rgba(0, 140, 186, 0.5);
    width: 245px;
    height: 245px;
    position: absolute;
    left: 758px;
    top: 178px;
    opacity: 1;
}

#pokemon-left:hover{
    box-shadow: 0 0 8px 2px rgba(0, 140, 186, 0.5);
    width: 245px;
    height: 245px;
    position: absolute;
    left: 148px;
    top: 178px;
    opacity: 1;
}

#span-left{
    position: absolute;
    top : 480px;
    left: 100px;
    font-size: 20px;
    font-weight: bold;

}

#span-right{
    position: absolute;
    top : 480px;
    left: 680px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
input[type = text]{
    width: 100px;
}

#start{
    position: relative;
    font-size: 15px;
    left: 475px;
}

.form1{
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    display:inline-block;
}

.form2{
    width: 400px;
    display:inline-block;
    font-weight: bold;
    font-size: 20px;
}
#pokename1{
    font-size: 1.2em;
    margin-inline-start: 50px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: center;

}
#pokename2{
    font-size: 1.2em;
    margin-inline-start: 80px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: center;

}

.result{
    font-size: 29px;
    position: absolute;
    top: 180px;
    color: white;
    left: 440px;

}

.background{
    margin: 10px;
    padding: 20px 20px 60px 30px;
    border: 10px solid #000000;
    border-radius: 20px;
    background: url(../image/ps1.jpg) center center no-repeat;
    background-size: cover;
    position: absolute;
    height: auto;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.background-mask{
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 50px;
    text-align: center;
    background:rgba(255,255,255,0);
}
.surround{
    margin: 10px;
    padding: 20px 20px 60px 30px;
    border: 8px solid #ffffff;
    border-radius: 180px;
    background:rgba(255,255,255,0);
    backdrop-filter: blur(3px);
    height: 350px;

}